html, body{
	font-family: Avenir, 'Cetury Gothic', 'Calibri', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h1{
	font-size: 3.157em;
}
.container{
	max-width: 900px;
	margin: 0 auto;
}
.align-right{
	text-align: right;
}
.container > div{
	margin-bottom: 1em;
}

/*forms*/
fieldset{
	padding: 1em auto;
}
.form-group{
	margin-bottom: 1em;
}
.form-group:last-of-type{
	margin-bottom: 0;
}

label:first-of-type{
	display: inline-block;
	min-width: 11em;
}
input[type="radio"]{
	margin-right: 1.5em;
}


/*table*/
table{
	width: 100%;
}
th{
	text-align: left;
}
#workouts-table td{
	min-width: 10em;
}


/*edit modal*/
.edit-workout-modal-container{
	position: fixed;
	top: 10px;
	background-color: white;
	box-shadow: 3px 10px 10px black;
	padding: 30px;
	max-width: 100%;
}
.modal_overlay{
	display: none;
	position: fixed;
	background-color: black;
	opacity: 0.85;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}


